body {
    background: var(--color-body);
    font-size: var(--font-main);
}
.underline-green {
    position: relative;
    display: inline-block;
    width: 100%;
}
.underline-green::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Adjust thickness here */
    background-color: rgb(255, 208, 0);
    bottom: -2px; /* Adjust separation here */
    left: 0;
}